name: tvlist

on:
  workflow_dispatch: 
  schedule:
    - cron: '0 22 * * *'
  push:
    branches:
      - main
# 解决方案
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    #runs-on: ubuntu-22.04@20240422.1.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
    
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12.3'

      - name: Install dependencies
        #run: pip install selenium==4.19.0 requests==2.31.0 futures==3.0.5 eventlet==0.36.1
        run: pip install selenium requests futures eventlet

      - name: Run itv_all
        run: python ${{ github.workspace }}/tvtest.py
      
      - name: 提交更改
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit *.txt -m "Add generated file"
          git commit *.m3u -m "Add generated file"
          #git pull --rebase
          git push -f
          
         
          # 重置为最新状态
          git reset --hard HEAD

      - name: 推送到 Gitee
        run: |
          # 强制推送到 Gitee
          git push gitee HEAD:main --force
